body{
    background-image:url(ASSETS/imatec.jpg) ; 
   
}
form{
    background-image: linear-gradient(to left,rgb(122, 191, 140),rgb(122, 191, 140));
   
    border-radius: 30px;
    width: 300px;
    padding: 20px;
    height: 650px;
    margin: auto;
    text-align: center;
    align-content: center;
}
  
h2{
    color: rgb(12, 12, 14);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

h1{
    
    color: rgb(12, 12, 14);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

textarea { color: rgb(14, 1, 11);

}

label{ 
    color: rgb(12, 12, 14);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.submit{
    padding: 12px 45px;
    background: rgb(98, 194, 123);
    font-size: 14px;
    font-weight:600 ;
    cursor: pointer;
    color: rgb(44, 44, 46); 
    border-radius: 5px;
    
   
}
.reset{
    padding: 12px 45px;
    background:rgb(98, 194, 123);
    font-size: 14px;
    font-weight:600 ;
    cursor: pointer;
    color: rgb(44, 44, 46);
    border-radius: 5px;
}
.centro {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
 }
 .centro1 {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
 }
 .centro2 {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
 }
 .centro3 {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
 }
 .centro4 {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
 }
 .centro5 {
    width: 175px;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
 }
 label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
 }